[color]
  ui = auto
[user]
  name = Jonathan Lee
  # Would set `email` and `signingkey`
[core]
  editor = vim
[alias]
  graph = log --graph --oneline --all
  update = fetch --all --prune
  diffnames = diff --name-only
