# Pipfile

[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
# TODO: reexamine whether packages exist, and have a purpose.
# TODO: add websockets
awscli = "*"
bcrypt = "*"
bokeh = "*"
bs4 = "*"
cached-property = "*"
capstone = "*"
circuitbreakers = "*"
click = "*"
colorama = "*"
cryptography = "*"
dbus-python = "*"
django = "*"
docopt = "*"
flask = "*"
flask-restless = "*"
flask-security = "*"
flask-session = "*"
flask-sqlalchemy = "*"
gmail = "*"
jupyter = "*"
jupyterthemes = "*"
lifelines = "*"
markdown = "*"
matplotlib = "*"
mock = "*"
networkx = "*"
nose = "*"
numpy = "*"
oauthlib = "*"
orange3 = "*"
pandas = "*"
paramiko "*"
pelican = "*"
Pillow = "*"
pipdeptree = "*"
protobuf = "*"
pyaudio = "*"
pycrypto = "*"
pyjwt = "*"
pylint = "*"
PyQt5 = "*"
pyserial = "*"
pyserial-aysncio = "*"
pytest = "*"
pytube = "*"
pyusb = "*"
pyyaml = "*"
qrcode = "*"
scapy = "*"  # Packet crafting
scipy = "*"
scikit-learn = "*"
scp = "*"
selenium = "*"
skimage = "*"
sphinx = "*"
sqlalchemy = "*"
ssh = "*"
statsmodels = "*"
sympy = "*"
tqdm = "*"
virtualenv = "*"
rsa = "*"
